/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */




.SUMBITPROFILE{
  text-align: center;
  margin-top: 7vh;
  font-weight: 200;
  font-family: cursive;
  font-style: italic;


}
.Loginform{
  text-align: center;
  background:powderblue;
  font-size: 16-x;
  margin: 0;
  padding: 10px;
  color: aqua;
  font-family: cursive;
  font-weight: 300;
}